# Fivethirtyeight Riddler

https://fivethirtyeight.com/features/somethings-fishy-in-the-state-of-the-riddler/

In [128]:
import pandas as pd
import numpy as np
from string import ascii_uppercase
from nltk.corpus import words
from collections import Counter
import tqdm

## Generate list of states

In [4]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States')

In [35]:
states = df[0].iloc[:,[0]].copy()
states.columns = ['state']
states.state = states.state.str.split('[', n=1).str.get(0)
#states['letters'] = states.state.str.upper().str.replace(' ','')
#states['letter_dict'] = list(map(set, states.letters))
states.tail(10)

            state
40   South Dakota
41      Tennessee
42          Texas
43           Utah
44        Vermont
45       Virginia
46     Washington
47  West Virginia
48      Wisconsin
49        Wyoming

## Generate crosstab of used letters

In [39]:
letters = states.set_index('state')
for ch in ascii_uppercase:
    letters[ch] = letters.index.str.upper().str.contains(ch)
letters.head(3)

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
state,,,,,,,,,,,,,,,,,,,,,
Alabama,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Alaska,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
Arizona,True,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True

## Find unique words (that don't share letters with exactly one state)

In [134]:
word_list = [w.upper() for w in words.words() if len(w)>20]

In [135]:
pbar = tqdm.tqdm(word_list)
for w in pbar:
    word = w.upper()
    overlap = letters.loc[:,set(word) & set(ascii_uppercase)].sum(axis='columns').astype(bool)
    if (~overlap).sum()==1:
        state = overlap.index[~overlap][0]
        pbar.write(f"{w:25} is unique to {state}")

100%|██████████| 145/145 [00:00<00:00, 1063.08it/s]

EPIDIDYMODEFERENTECTOMY   is unique to Alaska
HEXACHLOROCYCLOHEXANE     is unique to Mississippi
HYPERCONSCIENTIOUSNESS    is unique to Alabama
PRORHIPIDOGLOSSOMORPHA    is unique to Kentucky
PSEUDOMONOCOTYLEDONOUS    is unique to Hawaii

## Extra credit: Which state has the most such words?

In [136]:
word_list = [w.upper() for w in words.words()]

In [137]:
state_cnt = Counter()

In [139]:
pbar = tqdm.tqdm(word_list)
for w in pbar:
    word = w.upper()
    overlap = letters.loc[:,set(word) & set(ascii_uppercase)].sum(axis='columns').astype(bool)
    if (~overlap).sum()==1:
        state = overlap.index[~overlap][0]
        state_cnt[state] += 1
        
state_cnt.most_common(5)

100%|██████████| 236736/236736 [03:13<00:00, 1225.11it/s]

[('Ohio', 7887),
 ('Mississippi', 7243),
 ('Alabama', 5599),
 ('Utah', 3854),
 ('Tennessee', 2432)]